@{
    ViewBag.Title = "Index";
}


<div  style="margin-left:30px; margin-top:50px;">

    <div style=" margin-bottom:10px; color:cornflowerblue; font-size:22pt; text-align:left; font-family:'Times New Roman';"> 
    Welcome in BOOKSTORE</div>
    <div>

        <div style="display:block; position:relative; float:left; width:49%; padding-left:30px;">

            <div style="color:black; font-size:14pt; text-align:left;">
                Create an account in to BOOKSTORE
            </div>
            <ul style="color:black; font-size:10pt; text-align:left; margin-top:5px;">
                <li>Review and search for all available books.</li>
                <li>Add and delete books from the list of user demands</li>
            </ul>
          

        </div>

        <div style="display:block; position:relative; float:left; width:49%; padding-left:30px;">

            <div style="color:black; font-size:14pt; text-align:left;">
               Access to BOOKSTORE remotely 
            </div>
            <ul style="color:black; font-size:10pt; text-align:left; margin-top:5px;">
                <li>Search for books using Web API.</li>
                <li>Use url such as : http://Domainname/api/books?search=(keyword)
                 <ul>
                    <li> Domainname : BOOKSTORE Domain name Service or IP </li>
                     <li> Api url : http://Domainname/api/books?search= </li>
                    <li> Keyword : keyword to search in all books of available . </li>
                     <li> Web API return data as JSON format</li>
                 </ul>
                </li>
            </ul>


        </div>

    </div>


</div>
